# Python Data Types
`Built-in Data Types`
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

34

Text Type:	        str

Numeric Types:  	int, float, complex

Sequence Types:  	list, tuple, range

Mapping Type:   	dict


Set Types:	        set, frozenset

Boolean Type:	    bool

Binary Types:   	bytes, bytearray, memoryview

None Type:	        NoneType

<table id="dtref" class="ws-table-all notranslate">
<tbody><tr>
<th style="min-width:350px">Example</th>
<th>Data Type</th>
<th style="width:90px">Try it</th>
</tr>
<tr>
<td>x = "Hello World"</td>
<td>str</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_str">Try it »</a></td>
</tr>
<tr>
<td>x = 20</td>
<td>int</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_int">Try it »</a></td>
</tr>
<tr>
<td>x = 20.5</td>
<td>float</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_float">Try it »</a></td>
</tr>
<tr>
<td>x = 1j</td>
<td>complex</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_complex">Try it »</a></td>
</tr>
<tr>
<td>x = ["apple", "banana", "cherry"]</td>
<td>list</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_list">Try it »</a></td>
</tr>
  <tr>
<td>x = ("apple", "banana", "cherry")</td>
<td>tuple</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_tuple">Try it »</a></td>
  </tr>
  <tr>
<td>x = range(6)</td>
<td>range</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_range">Try it »</a></td>
  </tr>
  <tr>
<td>x = {"name" : "John", "age" : 36}</td>
<td>dict</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_dict">Try it »</a></td>
  </tr>
  <tr>
<td>x = {"apple", "banana", "cherry"}</td>
<td>set</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_set">Try it »</a></td>
  </tr>
  <tr>
<td>x = frozenset({"apple", "banana", "cherry"})</td>
<td>frozenset</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_frozenset">Try it »</a></td>
  </tr>
  <tr>
<td>x = True</td>
<td>bool</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_bool">Try it »</a></td>
  </tr>
  <tr>
<td>x = b"Hello"</td>
<td>bytes</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_bytes">Try it »</a></td>
  </tr>
  <tr>
<td>x = bytearray(5)</td>
<td>bytearray</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_bytearray">Try it »</a></td>
  </tr>
<tr>
<td>x = memoryview(bytes(5))</td>
<td>memoryview</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_memoryview">Try it »</a></td>
</tr>
<tr>
<td>x = None</td>
<td>NoneType</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_nonetype">Try it »</a></td>
</tr>
</tbody></table>

<table id="dtref" class="ws-table-all notranslate">
<tbody><tr>
<th style="min-width:350px">Example</th>
<th>Data Type</th>
<th style="width:90px">Try it</th>
</tr>
<tr>
<td>x = "Hello World"</td>
<td>str</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_str">Try it »</a></td>
</tr>
<tr>
<td>x = 20</td>
<td>int</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_int">Try it »</a></td>
</tr>
<tr>
<td>x = 20.5</td>
<td>float</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_float">Try it »</a></td>
</tr>
<tr>
<td>x = 1j</td>
<td>complex</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_complex">Try it »</a></td>
</tr>
<tr>
<td>x = ["apple", "banana", "cherry"]</td>
<td>list</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_list">Try it »</a></td>
</tr>
  <tr>
<td>x = ("apple", "banana", "cherry")</td>
<td>tuple</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_tuple">Try it »</a></td>
  </tr>
  <tr>
<td>x = range(6)</td>
<td>range</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_range">Try it »</a></td>
  </tr>
  <tr>
<td>x = {"name" : "John", "age" : 36}</td>
<td>dict</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_dict">Try it »</a></td>
  </tr>
  <tr>
<td>x = {"apple", "banana", "cherry"}</td>
<td>set</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_set">Try it »</a></td>
  </tr>
  <tr>
<td>x = frozenset({"apple", "banana", "cherry"})</td>
<td>frozenset</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_frozenset">Try it »</a></td>
  </tr>
  <tr>
<td>x = True</td>
<td>bool</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_bool">Try it »</a></td>
  </tr>
  <tr>
<td>x = b"Hello"</td>
<td>bytes</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_bytes">Try it »</a></td>
  </tr>
  <tr>
<td>x = bytearray(5)</td>
<td>bytearray</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_bytearray">Try it »</a></td>
  </tr>
<tr>
<td>x = memoryview(bytes(5))</td>
<td>memoryview</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_memoryview">Try it »</a></td>
</tr>
<tr>
<td>x = None</td>
<td>NoneType</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_type_nonetype">Try it »</a></td>
</tr>
</tbody></table>

In [3]:
x=b'23'
type(x)

bytes

## Python Numbers

There are three numeric types in Python:

int

float

complex

In [6]:
i=2
j=23.444
k=3+55j
print(type(i))
print(type(j))
print(type(k))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
k=3444444444
type(k)

int

In [8]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [10]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100


print(type(x))
print(type(y))
print(type(z))
x

<class 'float'>
<class 'float'>
<class 'float'>

35000.0

In [12]:
x = 1j
y = 1+3j
z = -35j+3

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [14]:
i=3
j=23.44
k=3+4j

ii=float(i)
jj=complex(j)
kk=int(k)
print(type(ii))
print(type(jj))
print(type(kk))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

`Note: You cannot convert complex numbers into another number type.`

In [15]:
i=3
j=23.44
k=3+4j

ii=float(i)
jj=complex(j)

print(type(ii))
print(type(jj))

<class 'float'>
<class 'complex'>

In [19]:
import random

print(random.randrange(1,34))

18

In [24]:
a="q"
c=int(a)
c

ValueError: invalid literal for int() with base 10: 'q'

In [25]:
a="56456"
c=int(a)
c

56456

## Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

`int()`
     - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represena whole number)

`float()`
     - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

     
`str() `
     - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [28]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
y
# convert into a integer using casting

2

In [30]:
x=float(32)
y=float('23')
y

23.0

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'